@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<environment include="Development">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</environment>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Append Curly Braces</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" defer></script>
</head>

<body>
    <button onclick="saveProjectState()">Save</button>
    <table id="edgeTable">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Label</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="edge-container">
        <label for="fromDropdown">From:</label>
        <select class="nodeDropdown" id="fromDropdown">
            <option value="custom">Custom</option>
        </select>

        <label for="toDropdown">To:</label>
        <select class="nodeDropdown" id="toDropdown">
            <option value="custom">Custom</option>
        </select>

        <label for="labelDropdown">Label:</label>
        <select class="labelDropdown" id="labelDropdown">
            <option value="custom">Custom</option>
        </select>

        <button onclick="addEdge()">Create Edge</button>
    </div>

    <!-- Constant dropdown field for "form" -->
    <div>
        <label for="formDropdown">Select form:</label>
        <select id="formDropdown">
            <option value="rectangle">Rectangle</option>
            <option value="ellipse">Ellipse</option>
        </select>

        <label for="nodeColorDropdown">Select node color:</label>
        <select id="nodeColorDropdown">
            <option value="black">Black</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
        </select>

        <label for="edgeColorDropdown">Select edge color:</label>
        <select id="edgeColorDropdown">
            <option value="black">Black</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
        </select>

        <div>
            <input type="checkbox" id="isDirected" name="isDirected" checked=1>
            <label for="isDirected"> Directed</label><br>
        </div>
    </div>
    
    <textarea id="content" rows="4" cols="50">This is some text with the word potatoes.</textarea>
    <img id="pictura" src="placeholder.svg" alt="Funky SVG Image">


</body>

</html>
